<form name="mainForm"
      novalidate>
    <fieldset ng-repeat="fieldset in article.fieldsets">
        <legend>{{fieldset.title}}</legend>
        <div field ng-repeat="field in fieldset.fields"></div>
    </fieldset>

    <br />
    <input type="submit" value="submit" ng-click="submitArticle()"/><br /><br />

    <b>myForm</b> submitted: {{mainForm.$submitted}}<br />
    <b>myForm</b> valid: {{mainForm.$valid}}<br />
</form>

