<div class="row">
    <div class="col-md-12">
        <div class="form-group"
             ng-form="fieldForm"
             ng-class="{ 'has-error': mainForm.$submitted && mainForm.$dirty && fieldForm.{{field.name}}.$invalid }" >
            <label class="control-label">{{field.label}}:</label>
            <input class="cms-field form-control"
                   name="{{field.name}}"
                   placeholder="{{field.attrs.placeholder}}"
                   ng-required="field.attrs.required"
                   ng-minlength="field.attrs.minlength"
                   ng-maxlength="field.attrs.maxlength"
                   ng-pattern="field.attrs.pattern" />
            <small class="help-block" ng-show="mainForm.$submitted && mainForm.$dirty && fieldForm.{{field.name}}.$error.required">{{field.label}} is required.</small>
            <small class="help-block" ng-show="mainForm.$submitted && mainForm.$dirty && fieldForm.{{field.name}}.$error.minlength">{{field.label}} has a minimum length of {{field.attrs['minlength']}}.</small>
            <small class="help-block" ng-show="mainForm.$submitted && mainForm.$dirty && fieldForm.{{field.name}}.$error.maxlength">{{field.label}} has a maximum length of {{field.attrs['maxlength']}}.</small>
            <small class="help-block" ng-show="mainForm.$submitted && mainForm.$dirty && fieldForm.{{field.name}}.$error.pattern">{{field.label}} is invalid.</small>
        </div>
    </div>
</div>
