<div class="row">
    <div class="col-md-12"
         ng-class="(field.attrs.field_layout)? 'repeater-field-layout-' + field.attrs.field_layout : ''">
        <label class="control-label">{{field.label}}:</label>
        <div ui-sortable="sortableOptions" class="sortable">
            <div repeater
                 class="repeater-item sortable-item row"
                 ng-class="(field.attrs.value_layout)? 'repeater-value-layout-' + field.attrs.value_layout : ''"
                 ng-repeat="(key,value) in valueArr"
                 ng-init="valuepath = valuepath + '.' + field.name + '[' + key + ']'">
                <div class="repeater-item-index sortable-handle">{{$index}}</div>
                <div class="repeater-item-content">
                    <div class="col-md-12"
                         ng-class="(field.attrs.field_layout)? 'repeater-field-layout-' + field.attrs.field_layout : ''">
                        <div field
                             class="repeater-child-field"
                             valuepath="{{valuepath}}"
                             ng-repeat="field in field.children"></div>
                         </div>
                </div>
                <div class="repeater-item-actions">
                    <button type="button" class="btn btn-default btn-xs add-repeater-item-btn" ng-click="addItem(valuepath, $index)">+</button>
                    <button type="button" class="btn btn-default btn-xs remove-repeater-item-btn" ng-click="removeItem(valuepath, $index)">x</button>
                </div>
            </div>
            <p><br />
                <button type="button" class="btn btn-primary add-repeater-item-btn" ng-click="addItem(valuepath, false)">Add new {{field.label | lowercase}}</button>
            </p>
        </div>
    </div>
</div>