<div class="row">
    <div class="col-md-12">
        <div class="form-group"
             ng-form="fieldForm"
             ng-class="{ 'has-error': mainForm.$submitted && mainForm.$dirty && fieldForm.{{field.name}}.$invalid }" >
            <label class="control-label">{{field.label}}:</label>
            <select class="cms-field form-control"
                    name="{{field.name}}"
                    ng-options="opt.value as opt.label for opt in field.options"
                    ng-required="field.attrs.required">
                <option value=""
                        ng-show="field.attrs.placeholder"
                        disabled="disabled"
                        selected="selected">
                    {{field.attrs.placeholder}}
                </option>
            </select>
            <small class="help-block" ng-show="mainForm.$submitted && mainForm.$dirty && fieldForm.{{field.name}}.$error.required">{{field.label}} is required.</small>
        </div>
    </div>
</div>
